@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Comforter+Brush&family=Delius&family=Klee+One&family=Montserrat:wght@200&family=Oregano&display=swap');

@import url("https://www.fontspace.com/arthemis-font-f84021");
@import url(//db.onlinewebfonts.com/c/8ae6ef8481077b30d00858139a980140?family=BrushScriptW01);


body {
  background-image: url('https://png.pngtree.com/thumb_back/fw800/back_our/20190628/ourmid/pngtree-fresh-light-green-plant-advertising-background-image_282287.jpg');
  margin: 0;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  font-family: 'Arthemis';
  background: rgba(136, 163, 152, 0.486);
  color: rgb(21, 64, 70);
  margin: 0px;
  padding: 25px;
  text-align: center;
  font-size: 65px;
  font-stretch: ultra-expanded;
}

a {
  color: rgb(148, 19, 19);
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-left: 10em;
  margin-top: .5em;
}




